*$py.class
*.egg
*.egg-info
*.pyc
*.sqlite
*.sublime-project
*.sublime-workspace
*~
.*.sw?
.coverage
.DS_Store
.mypy_cache/
.pytest_cache/
.sw?
.tox/
build/
coverage
coverage.xml
Data.fs*
data/
development*.ini
dist/
venv/
htmlcov/
nosetests.xml
production.ini
pyvenv.cfg
test
tmp/
